footer 
    .footer 
        .footer-wrapper
            .footer_text 
                .footer_text_section
                    h1 Разделы:
                    .footer_text_section_one
                        ul 
                            li
                                a(href="catalog.html") Каталог
                            li
                                a(href="delivery.html") Доставка и заказ
                            li
                                a(href="index.html") Главная
                            li
                                a(href="") Уход  за мебелью  
                    .footer_text_section_one
                        ul              
                            li
                                a(href="") Вакансии
                            li
                                a(href="") Справочная информация
                            li
                                a(href="") Наши партнёры
                            li
                                a(href="") Сервисы
                .footer_pay 
                    h1 Способы оплаты:
                    img(src="../img/prod_footer_pay.png", alt="")
                .footer_contact 
                    h1 Контакты
                    p +7 (961) 217-93-76
                    p +7 (989) 277-94-30
                                                    

