header 
    .header
        .header-wrapper 
            .header__logo
                img.header__logo_img(src="./img/LOGO.PNG" ,alt="")
            img.header_line(src="./img/prod_header.png", alt="")
            .header__calls
                ul.header_calls_ul
                    li.header_list Отвечаем на звонки 
                    li.header_list с 9:00 до 21:00
                    li.header_list без выходных
                img.header_line(src="./img/prod_header.png", alt="")
            .header__location 
                img.header__location_img(src="./img/prod_location.png", alt="")
                ul.header_location_ul
                    li.header_list г. Ликино-Дулёво, 
                    li.header_list ул.Ленина, 3
                img.header_line(src="./img/prod_header.png", alt="")
            .header__contact 
                ul.header_contact_ul
                    li.header_list +7 (961) 217-93-76
                    li.header_list +7 (989) 277-94-30

